/* Stilizacija za CheckoutComponent */

.container {
    margin-top: 50px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .list-group-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  .list-group-item h5 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #555;
  }
  
  .list-group-item p {
    margin-bottom: 5px;
    color: #777;
  }
  
  .text-right {
    text-align: right;
  }
  
  .mt-3 {
    margin-top: 30px;
    text-align: center;
  }
  
  .btn-success {
    background-color: #006558c1;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    
    font-size: 16px;
  }
  
  .btn-success:hover {
    background-color: #4cae4c;
    border-color: #398439;
  }
  
  .h4{
    text-align: center;
  }